<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>hello there</h1>
    <div class="gameboard-container"></div>
    <div class="ship-container">
      <div class="slider-container">
        <p class="direction" id="horizontal">Horizontal</p>
        <p class="direction" id="vertical">Vertical</p>
        <div class="slider" id="slider"></div>
      </div>
    </div>
  </body>
</html>
