h1 {
  color: red;
}

.gameboard-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.board-row {
  display: flex;
  justify-content: center;
}
.board-unit {
  width: 50px;
  height: 50px;
  border: 2px solid black;
}
.computer:hover {
  background-color: lightcyan;
}

.ship {
  background-color: #4b5320;
}

.missed {
  background-color: grey;
}
.hit {
  background-color: rebeccapurple;
}
.ship-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
}
.slider-container {
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 200px;
  box-sizing: border-box;
}

.slider {
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: lightblue;
  transition: all 1s ease-in-out;
}

.direction {
  z-index: 1;
  width: 50%;
  text-align: center;
}

.horizontal {
  left: 0;
}
.vertical {
  right: 0;
}
