.header {
  width: 100%;
  text-align: center;
}
.gameboard-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.board-row {
  display: flex;
  justify-content: center;
}
.board-unit {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  position: relative;
  overflow: none;
}
.computer:hover {
  background-color: lightcyan;
}

.ship {
  background-color: #4b5320;
}

.missed {
  background-color: grey;
}
.hit {
  background-color: rebeccapurple;
}
.game-piece-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
}
.ship-container {
  display: flex;
  width: 400px;
  align-items: center;
  flex-direction: column;
}
.slider-container {
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 200px;
  box-sizing: border-box;
}

.slider {
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: lightblue;
  transition: all 3s ease-in-out;
}

.direction {
  z-index: 1;
  width: 50%;
  text-align: center;
}

.horizontal {
  left: 0;
}
.vertical {
  right: 0;
}

.battleship {
  position: absolute;
  bottom: 0;
  left: 0;
}

.smallShip-horizontal {
  height: 54px;
  width: 108px;
}
.medShip-horizontal {
  height: 54px;
  width: 162px;
}
.largeShip-horizontal {
  height: 54px;
  width: 270px;
}

.ship-container-vertical {
  flex-direction: row;
}
.rotate {
  transform: rotate(-90deg);
}
.small-ship-vertical {
  height: 108px;
  width: 54px;
}
.med-ship-vertical {
  height: 162px;
  width: 54px;
}
.large-ship-vertical {
  height: 270px;
  width: 54px;
}
.game-over-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 5;
  left: 35%;
  top: 200px;
  height: 400px;
  width: 600px;
  background-color: lightblue;
}

.hide {
  display: none;
}
