html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: lightblue;
  margin-bottom: 30px;
}
.navbar h1 {
  font-size: 32px;
  margin-left: 20px;
}
.header {
  width: 100%;
  text-align: center;
}
.header h1 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 30px;
}
.direction {
  width: 100px;
}
.game-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100px;
  gap: 70px;
}
.game-stats {
  display: flex;
  gap: 400px;
}
.game-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.game-stat h2 {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  color: rgb(113, 113, 113);
}

.gameboard-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.board-row {
  display: flex;
  justify-content: center;
}
.board-unit {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  position: relative;
  overflow: none;
}
.computer:hover {
  background-color: lightcyan;
}

/* .ship {
  background-color: #4b5320;
} */
/* .player-1-ship {
  transition: all 0.2s;
} */

.missed {
  background-color: grey;
}
.hit {
  background-color: rebeccapurple;
}
.game-piece-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
  width: 540px;
  height: 170px;
  border: 3px solid lightblue;
  box-sizing: border-box;
  margin-top: 30px;
}
.ship-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.slider-container {
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 200px;
  box-sizing: border-box;
}

.slider,
.horizontal {
  position: absolute;
  height: 50px;
  width: 45%;
  background-color: lightblue;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}

.direction {
  z-index: 1;
  width: 50%;
  text-align: center;
}

.horizontal {
  left: 0;
}
.vertical {
  left: 110px;
}

.battleship {
  position: absolute;
  bottom: 0;
  left: 0;
}

.smallShip-horizontal {
  height: 54px;
  width: 108px;
}
.medShip-horizontal {
  height: 54px;
  width: 162px;
}
.largeShip-horizontal {
  height: 54px;
  width: 270px;
}

.ship-container-vertical {
  flex-direction: row;
  justify-content: center;
  width: 40%;
}
.rotate {
  transform: rotate(-90deg);
}
.small-ship-vertical {
  height: 108px;
  width: 54px;
}
.med-ship-vertical {
  height: 162px;
  width: 54px;
}
.large-ship-vertical {
  height: 270px;
  width: 54px;
}
.game-over-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 5;
  left: 32%;
  top: 200px;
  height: 400px;
  width: 600px;
  gap: 20px;
  background-color: lightblue;
  border-radius: 20px;
}
.game-over-text {
  font-size: 32px;
}
.start-over-btn {
  font-size: 16px;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.hide {
  display: none;
}
